*.aux
*.log
*.out

main.bbl
main.blg 
main.toc
main.lot
main.lof
main.glg
main.glo
main.gls
main.acn
main.acr
main.alg
main.xdy
main.loa
main.bcf
main.run.xml
main.pdf
main.fls
main.fls
main.fdb_latexmk

_minted-main
main.synctex.gz
